body {
  display: flex;
  justify-content: center;
}

.feature {
  height: 65vh;
  width: 90%;
	margin: 0;
}
.feature text{
	font-size: 6vh;
	stroke: #000;
	stroke-width: .05mm;
	fill: transparent;
	paint-order: stroke;
	transition: fill 1s;
}
.feature text.author{
	font-size: 6vh;
}
.feature:hover text{
	fill: rgba(0, 0, 0, 0.7)
}
